<mat-nav-list>
    <img src="../../../assets/images/prayaas.png" class="logo">
    <a mat-list-item id="header-text" href="https://prayaasindia.org/" target="blank">PRAYAAS INDIA</a>

    <a mat-list-item class="sidenav-item" routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>assessment</mat-icon>
        Dashboard
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/students" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        Students
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/volunteers" routerLinkActive="active">
        <mat-icon>school</mat-icon>
        Volunteers
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/supporters" routerLinkActive="active">
        <mat-icon>person_add</mat-icon>
        Supporters
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/blood-donors" routerLinkActive="active">
        <mat-icon>opacity</mat-icon>
        Blood Donors
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/">
        <mat-icon>event</mat-icon>
        Event-Calender
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/">
        <mat-icon>settings</mat-icon>
        Settings
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/profile" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
        Profile
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/" >
        <mat-icon>power_setting</mat-icon>
        Logout
    </a>
</mat-nav-list>