mat-nav-list{
    margin: 15px;
}

mat-icon{
    margin-right: 20px;
}

.sidenav-item{
    color: white;
    font-size: 15px;
    transition: all 0;
    font-weight: 600;
}

.sidenav-item:hover,
.sidenav-item:active{
    background-image: linear-gradient(to right, #C43B81 , #3E51E4);
    border-radius: 30px;
    color: white;
}

#header-text{
    font-size: 23px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.logo{
    width: 60%;
    display: block;
    margin: 10px auto 0;
}