<mat-nav-list>
    <img src="../../../assets/images/prayaas.png" class="logo">
    <a mat-list-item id="header-text">PRAYAAS INDIA</a>

    <a mat-list-item class="sidenav-item" routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>assessment</mat-icon>
        Dashboard
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/students">
        <mat-icon>people</mat-icon>
        Students
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/volunteers">
        <mat-icon>school</mat-icon>
        Volunteers
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/supporters">
        <mat-icon>person_add</mat-icon>
        Supporters
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/blood-donors">
        <mat-icon>opacity</mat-icon>
        Blood Donors
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/">
        <mat-icon>settings</mat-icon>
        Settings
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
        Profile
    </a>
    <a mat-list-item class="sidenav-item" routerLink="/">
        <mat-icon>power_setting</mat-icon>
        Logout
    </a>
</mat-nav-list>