<mat-toolbar>
    <button mat-icon-button style="color: white;" (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <form fxHide.xs>
      <input type="search" placeholder="Search" class="search-input">
      <button mat-icon-button style="color: white;">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout>
        <li><a mat-icon-button><mat-icon>notifications</mat-icon></a></li>
        <li><a mat-icon-button><mat-icon>mail</mat-icon></a></li>
        <li><a mat-icon-button><mat-icon>account_circle</mat-icon></a></li>
      </ul>
    </div>
  </mat-toolbar>