mat-sidenav-container, mat-sidenav, mat-sidenav-content, router-outlet {
    height: 100%;
}

mat-sidenav {
    width: 250px;
    background-color: #2B3054;
}

main, router-outlet{
    background-color: #1A233A;
    height: 100%;
    padding: 30px;
}
