<app-alert [message]="alertMessage" *ngIf="showAlert" (donorDeleteResponse)="deleteDonor($event)"
    (duplicateData)="duplicateDataMessage()"></app-alert>

<div>
    <h1 style="color: white; font-size: 40px; padding: 0; margin:0">Blood Donors</h1>
    <p style="color: white; padding-top: 20px;">This section consist of details of every person who had donated blood in Prayaas
        India. You can see every details of
        that donor by clicking on the details button for a particular donor in the table.</p>
</div>

<div style="margin-top: 30px;">

    <div fxLayout="row" fxLayoutAlign="space-between end">
        <button mat-raised-button style="background-color: #1B55E2; color: white; padding: 3px 20px; margin-bottom: 20px;"
            (click)="onAddDonor()">
            <mat-icon>add</mat-icon> Add Donor
        </button>
        <input type="text" (keyup)="doFilter($event.target.value)" placeholder="Search" class="search-field">
    </div>

    <table mat-table [dataSource]="donorList" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="serialNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="bloodGroup">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Blood Group </th>
            <td mat-cell *matCellDef="let element"> {{element.bloodGroup}} </td>
        </ng-container>

        <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
            <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
        </ng-container>

        <ng-container matColumnDef="batch">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch </th>
            <td mat-cell *matCellDef="let element"> {{element.batch}} </td>
        </ng-container>

        <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
            <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="deleteDetails">
            <th mat-header-cell *matHeaderCellDef> Delete Details </th>
            <td mat-cell *matCellDef="let element; let i = index"> <button mat-raised-button color="warn"
                    (click)="onDeleteButtonClicked(element.mobileNumber)">Delete</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>